.day {
  min-width: 30px;
  max-width: 30px;
  border: 1px solid white;
  margin: 5px;
  float: left;
  height: fit-content;
}

.mark{
  background-color: #01ff70;
  font-weight: bold;
  color: #000;
}


.past{
  background-color: #afb8b3;
  color: #000;
  border: 1px solid #afb8b3;
}


.empty{
  border: 1px solid rgb(255, 0, 0,0); 
}